* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 250, 0.2), rgba(255, 255, 250, 0.2)), 
                      url('https://plus.unsplash.com/premium_photo-1683309563562-aa3cfde9ed10?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHRvZG8lMjBsaXN0fGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

#app {
    width: 500px;
    max-height: 700px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    font-size: 2rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#taskInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

#taskInput:focus {
    border-color: #3498db;
}

#addTaskButton, #clearCompleted {
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

#addTaskButton {
    background-color: #3498db;
}

#addTaskButton:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    border-radius: 6px;
    margin-bottom: 8px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f1f1f1;
}

.task-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 10px;
}

.task-date {
    color: #7f8c8d;
    font-size: 0.9rem;
    margin-right: 10px;
}

.task-text {
    font-size: 1rem;
}

.completed {
    text-decoration: line-through;
    color: #bdc3c7;
}

.complete-btn, .delete-btn {
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.complete-btn {
    background-color: #27ae60;
    margin-right: 5px;
}

.complete-btn:hover {
    background-color: #2ecc71;
}

.delete-btn {
    background-color: #e74c3c;
}

.delete-btn:hover {
    background-color: #c0392b;
}

#clearCompleted {
    background-color: #27ae60;
}

#clearCompleted:hover {
    background-color: #2ecc71;
}
